<div class="layout"> 
   <app-sidebar></app-sidebar> 
   <div class="content"> 
    <nav> 
     <a routerLink="/admin" routerLinkActive="active-link"></a> 
  <a routerLink="/inventory"></a> 
  <a routerLink="/shipments"></a> 
  <a routerLink="/reviews"></a> 
  <a routerLink="/employees"></a> 
  <a routerLink="/payments"></a> 
  <a routerLink="/orders"></a> 
  <a routerLink="/categories"></a> 
      <!-- Search Bar --> 
    <input type="text" placeholder="🔍Search..." class="search-bar" /> 
    </nav> 
   <router-outlet></router-outlet>  
   </div> 
</div> 
